.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
  color: #000;
}

.title {
  margin: 0;
}

.marvelСolor {
  color: #9f0013;
}

.charactersBlock {
  font-size: 30px;
  line-height: 28px;
  cursor: pointer;
  color: #000000;
}

.comicsBlock {
  font-size: 30px;
  line-height: 28px;
  color: #000000;
  cursor: pointer;
}

/*добавлять цвет в - Characters / Comics*/
.selectedBlockColor {
  color: #9f0013;
}

.linkHeader {
  text-decoration: none;
}
