.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
  color: #000;
}

.title {
  margin: 0;
}

.marvelСolor {
  color: #9f0013;
}

.charactersСolor {
  cursor: pointer;
  color: #9f0013;
}

.link {
  cursor: pointer;
}
