.content {
  position: relative;
  display: flex;
  width: 1100px;
  height: 1016px;
  margin-top: 50px;
  /* border: 1px solid red; */
}

.superHero {
  position: absolute;
  left: 70%;
  top: 73%;
  width: 467px;
  height: 372px;
}

/*=====charList=====*/
.charList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 650px;
  height: 1016px;
  /* border: 1px solid green; */
}

.card {
  width: 200px;
  height: 318px;
  cursor: pointer;
  border: 1px solid black;
}

.card:hover {
  filter: drop-shadow(0px 5px 20px #9f0013);
}

.fonCard {
  filter: drop-shadow(0px 5px 20px #12dc04);
}

.cardImg {
  display: block;
  width: 200px;
  height: 200px;
}

.cardTitle {
  height: 104px;
  font-family: "Roboto Condensed", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding-left: 15px;
  padding-top: 15px;

  color: #ffffff;
  background: #232222;
}

/*=====CharInfo=====*/

.charInfoBlock {
  box-sizing: border-box;
  padding: 25px;
  width: 425px;
  height: 745px;
  margin-left: 25px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.photoBtnsBlock {
  display: flex;
}

.titleBtns {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  background: green;
}

.title {
  font-family: "Roboto Condensed", "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 35px;
  color: #000000;
  /*обрезка длины имени ...*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.main {
  box-sizing: border-box;
  width: 101px;
  height: 38px;
  padding: 11px 18px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
  background: #9f0013;
}

.main:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.secondary {
  box-sizing: border-box;
  text-align: center;
  width: 101px;
  padding: 11px 18px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-decoration: none;
  background: #5c5c5c;
}

.secondary:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.inner {
  font-family: "Roboto Condensed", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.text {
  font-family: "Roboto Condensed", "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #000000;
}

.subTitle {
  font-family: "Roboto Condensed", "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 14px;
  color: #000000;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.link {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  /*обрезка длины имени ...*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 374px;
}
